* {
    margin: 0;
    padding: 0;
}

#bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#credit-card {
    display: flex;
    gap: 10px;

}

#front-card,
#back-card {
    width: 400px;
    height: 200px;
}



#front-card {
    background-color: red;

}

#back-card {
    background-color: blue;
}

#form {
    width: 400px;
    height: 600px;
    background-color: brown;
}